<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clasificación</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <style>
      /* Estilos para las pestañas */
      .nav-tabs .nav-link {
        cursor: pointer;
      }

      /* Estilos para el contenedor de la imagen con zoom */
      #zoomable-image-container {
        position: relative;
        overflow: hidden;
      }

      #zoomable-image {
        width: 100%;
        height: auto;
        transform-origin: top left;
        /* Para que el zoom se origine desde la esquina superior izquierda */
      }
    </style>

<script src="https://cdn.jsdelivr.net/npm/panzoom@9.4.0/dist/panzoom.min.js"></script>
  </head>
  <body>
    {% include 'navbar.html' %}

    <div class="container mt-5">
      <h2>Clasificación de la imagen: {{ classification_name }}</h2>
      <div class="row">
        <div class="col-md-3">
          <h4>Imágenes Segmentadas</h4>
          <!-- Son las imágenes segmentadas que se deben mostrar -->
          <div id="segmented-image-list">
            {% for segmented_image in original_images %}
            <button
              type="button"
              class="btn btn-outline-primary mb-2"
              data-filename="{{ segmented_image.filename }}"
            >
              {{ segmented_image }}
            </button>
            {% endfor %}
          </div>
        </div>

        <div class="col-md-6">
          <h4>Imagen Seleccionada</h4>
                
<div id="zoomable-image-container">
  <canvas id="main-image-canvas"></canvas>
  <canvas id="mask-canvas" style="display: none;"></canvas>
  <div id="cell-highlight" style="position: absolute; border: 2px solid red; display: none;"></div>
</div>

    
        </div>

        <div class="col-md-3">
          <h4>Imágenes Individuales</h4>
          <div id="individual-image-list">
            <!-- Las imágenes individuales se cargan dinámicamente con JavaScript -->
          </div>

          <h4>Clasificación</h4>
          <ul class="nav nav-tabs" id="classification-tabs" role="tablist">
            <!-- Se mantiene igual -->
            <li class="nav-item" role="presentation">
              <button
                class="nav-link active"
                id="interfase-tab"
                data-bs-toggle="tab"
                data-bs-target="#interfase"
                type="button"
                role="tab"
                aria-controls="interfase"
                aria-selected="true"
                data-class="Interfase"
              >
                Interfase
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link"
                id="profase-tab"
                data-bs-toggle="tab"
                data-bs-target="#profase"
                type="button"
                role="tab"
                aria-controls="profase"
                aria-selected="false"
                data-class="Profase"
              >
                Profase
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link"
                id="metafase-tab"
                data-bs-toggle="tab"
                data-bs-target="#metafase"
                type="button"
                role="tab"
                aria-controls="metafase"
                aria-selected="false"
                data-class="Metafase"
              >
                Metafase
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link"
                id="anafase-tab"
                data-bs-toggle="tab"
                data-bs-target="#anafase"
                type="button"
                role="tab"
                aria-controls="anafase"
                aria-selected="false"
                data-class="Anafase"
              >
                Anafase
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link"
                id="telofase-tab"
                data-bs-toggle="tab"
                data-bs-target="#telofase"
                type="button"
                role="tab"
                aria-controls="telofase"
                aria-selected="false"
                data-class="Telofase"
              >
                Telofase
              </button>
            </li>
          </ul>

          <div class="tab-content" id="classification-tabs-content">
            <div
              class="tab-pane fade show active"
              id="interfase"
              role="tabpanel"
              aria-labelledby="interfase-tab"
            >
              <div class="thumbnail-grid" id="interfase-grid">
                <!-- Las miniaturas se cargan dinámicamente con JavaScript -->
              </div>
            </div>
            <div
              class="tab-pane fade"
              id="profase"
              role="tabpanel"
              aria-labelledby="profase-tab"
            >
              <div class="thumbnail-grid" id="profase-grid">
                <!-- Las miniaturas se cargan dinámicamente con JavaScript -->
              </div>
            </div>
            <div
              class="tab-pane fade"
              id="metafase"
              role="tabpanel"
              aria-labelledby="metafase-tab"
            >
              <div class="thumbnail-grid" id="metafase-grid">
                <!-- Las miniaturas se cargan dinámicamente con JavaScript -->
              </div>
            </div>
            <div
              class="tab-pane fade"
              id="anafase"
              role="tabpanel"
              aria-labelledby="anafase-tab"
            >
              <div class="thumbnail-grid" id="anafase-grid">
                <!-- Las miniaturas se cargan dinámicamente con JavaScript -->
              </div>
            </div>
            <div
              class="tab-pane fade"
              id="telofase"
              role="tabpanel"
              aria-labelledby="telofase-tab"
            >
              <div class="thumbnail-grid" id="telofase-grid">
                <!-- Las miniaturas se cargan dinámicamente con JavaScript -->
              </div>
            </div>
          </div>

          <h4>Detalles</h4>
          <div id="image-details">
            <!-- Aquí se mostrarán los detalles de la imagen y las células -->
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <script>

document.addEventListener('DOMContentLoaded', function () {
    const segmentedImageList = document.getElementById('segmented-image-list');
    const individualImageList = document.getElementById('individual-image-list');
    const classificationTabs = document.getElementById('classification-tabs');
    const imageDetails = document.getElementById('image-details');

    let originalImage = null;
    let currentImageFilename = null;
    let classificationName = '{{ classification_name }}';

    // Function to load segmented images
    function loadSegmentedImages() {
        fetch(`/api/segmented-images/${classificationName}`)
            .then(response => response.json())
            .then(images => {
                segmentedImageList.innerHTML = '';
                images.forEach(filename => {
                    const button = document.createElement('button');
                    button.type = 'button';
                    button.className = 'btn btn-outline-primary mb-2';
                    button.textContent = filename;
                    button.addEventListener('click', () => loadSelectedImage(filename));
                    segmentedImageList.appendChild(button);
                });

                // Load the first image if available
                if (images.length > 0) {
                    loadSelectedImage(images[0]);
                }
            });
    }

    // Function to load the selected image
    function loadSelectedImage(filename) {
        currentImageFilename = filename;
        individualImageList.innerHTML = '';

        originalImage = new Image();
        originalImage.src = `/uploads/${classificationName}/${filename}`;
        originalImage.onload = () => {
            const mainImageCanvas = document.getElementById('main-image-canvas');
            const mainImageContext = mainImageCanvas.getContext('2d');
           
            //Se hace para que sea compatible en pantallas de pc y celulares, se ajusta el tamaño de la imagen proporcionalmente

            const aspectRatio = originalImage.width / originalImage.height;
            mainImageCanvas.width = 600;
            mainImageCanvas.height = 600 / aspectRatio;
            mainImageContext.drawImage(originalImage, 0, 0, mainImageCanvas.width, mainImageCanvas.height);




            updateClassificationTabs(filename);

            // Initialize panzoom
            panzoom(mainImageCanvas, {
                maxZoom: 2,
                minZoom: 0.5,
                bounds: true,
                boundsPadding: 0.1,
                beforeWheel: function (e) {
                    // allow wheel-zoom only if altKey is down. Otherwise - ignore
                    var shouldIgnore = !e.altKey;
                    return shouldIgnore;
                },
            });
        };
    }

    // Function to update classification tabs
    function updateClassificationTabs(filename) {
        const tabs = classificationTabs.querySelectorAll('button.nav-link');
        tabs.forEach(tab => {
            const selectedClass = tab.dataset.class;
            getCellIdsFromClassification(selectedClass, filename)
                .then(cellIds => {
                    const imageGrid = document.getElementById(`${selectedClass.toLowerCase()}-grid`);
                    imageGrid.innerHTML = '';
                    cellIds.forEach(cellId => {
                        const cellImage = document.createElement('img');
                        cellImage.width = 128;
                        cellImage.height = 128;
                        cellImage.src = `/uploads/${classificationName}/preprocessed/${cellId}`;
                        cellImage.alt = `${filename}_${cellId}.png`;
                        cellImage.className = 'img-fluid rounded thumbnail';
                        cellImage.addEventListener('click', () => {
                            updateImageDetails(filename, cellId, selectedClass);
                            highlightCell(cellId);
                        });
                        imageGrid.appendChild(cellImage);
                    });
                });
        });
    }

    // Function to get cell IDs from classification
    function getCellIdsFromClassification(selectedClass, imgFilename) {
        return fetch(`/api/classification-data/${classificationName}`)
            .then(response => response.json())
            .then(classificationData => {
                return Object.keys(classificationData).filter(cellId => 
                    classificationData[cellId].class === selectedClass && !cellId.includes("_mask") && cellId.includes(imgFilename.split('.')[0])
                );
            });
    }

    // Function to update image details
    function updateImageDetails(filename, cellId, selectedClass) {
        imageDetails.innerHTML = `
            <h5>Detalles de la Célula</h5>
            <p><strong>Imagen:</strong> ${filename}</p>
            <p><strong>Célula:</strong> ${cellId}</p>
            <p><strong>Clase:</strong> ${selectedClass}</p>
        `;
    }

    // Function to highlight a cell
    function highlightCell(cellId) {
        const maskPath = `/uploads/${classificationName}/preprocessed/${cellId.replace('.png', '_mask.png')}`;
        const maskImage = new Image();
        maskImage.src = maskPath;
        maskImage.onload = () => {
            const maskCanvas = document.getElementById('mask-canvas');
            const maskContext = maskCanvas.getContext('2d');
            //Se hace para que sea compatible en pantallas de pc y celulares, se ajusta el tamaño de la imagen proporcionalmente
            const aspectRatio = maskImage.width / maskImage.height;
            maskCanvas.width = 600;
            maskCanvas.height = 600 / aspectRatio;
            maskContext.drawImage(maskImage, 0, 0, maskCanvas.width, maskCanvas.height);

            const maskImageData = maskContext.getImageData(0, 0, maskCanvas.width, maskCanvas.height);
            const maskData = maskImageData.data;

            const mainImageCanvas = document.getElementById('main-image-canvas');
            const mainImageContext = mainImageCanvas.getContext('2d');
            mainImageContext.drawImage(originalImage, 0, 0, mainImageCanvas.width, mainImageCanvas.height);

            const mainImageData = mainImageContext.getImageData(0, 0, mainImageCanvas.width, mainImageCanvas.height);
            const mainData = mainImageData.data;

            for (let i = 0; i < maskData.length; i += 4) {
                if (maskData[i] === 255 && maskData[i + 1] === 255 && maskData[i + 2] === 255) {
                    mainData[i] = 255;
                    mainData[i + 1] = 0;
                    mainData[i + 2] = 0;
                }
            }

            mainImageContext.putImageData(mainImageData, 0, 0);
        };

        
    }

    // Initialize the page
    loadSegmentedImages();
});
    </script>
  </body>
</html>
