<!-- Código de la barra de navegación, con 2 enlaces uno a la página subir imagenes y otro a "mis clasificaciones" -->

<!-- <nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
    <a class="navbar-brand" href="/">Inicio</a>
    <a class="navbar-brand" href="/upload">Subir imagen</a>
    <a class="navbar-brand" href="/myclassifications">Mis clasificaciones</a>
</nav> -->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">AutoCellS</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="#">Nueva clasificación</a>
          <a class="nav-link" href="#">Mis clasificaciones</a>
          
        </div>
      </div>
    </div>
  </nav>